.recipe {
    border: 1px solid grey;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-recipe-delete {
    padding: 10px;
    width: 100px;
    margin-top: 5px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: 1px solid grey;
}

.button-recipe-delete:hover {
    background-color: darkred;
    cursor: pointer;
}

.button-recipe-edit{
    padding: 10px;
    width: 100px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

.button-recipe-edit:hover {
    background-color: grey;
    cursor: pointer;
}

.button-recipe-edit-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.recipe-title {
    font-size: 16px;
    font-weight: bold;
}

.recipe-buttons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

