.app {
  text-align: center;
  background-color: lightgrey;
  height: 100vh;
}

.app-title {
  margin-top: 0;
  padding-top: 30px
}

.app-boring-title {
  color: blue;
  font-weight: bold;
}

.app-main-div {
  margin-left: 8%;
  width: 80%;
  background-color: white;
  padding: 36px 56px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px blue;
}